.blobs
.bundle
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea
blobs
config/dev.yml
config/private.yml
dev_releases
releases/*.tgz
releases/**/*.tgz
src/bosh_azure_cpi/vendor/cache
src/bosh_azure_cpi/coverage
src/bosh_azure_cpi/spec/manual_tests/performance/stemcell_to_test.tgz
src/bosh_azure_cpi/spec/manual_tests/performance/stemcell_folder/*
src/bosh_azure_cpi/spec/manual_tests/performance/cpi.cfg
src/bosh_azure_cpi/spec/manual_tests/performance/registry.cfg
*.tfstate
*.tfstate.backup
.terraform
.DS_Store
.vagrant
.vscode
*.swp
*~
*#
#*
