.blobs
.bundle
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea
blobs
config/dev.yml
config/private.yml
dev_releases
releases/*.tgz
releases/**/*.tgz
src/bosh_azure_cpi/vendor/cache
src/bosh_azure_cpi/coverage
.DS_Store
.vagrant
*.swp
*~
*#
#*
