---
platform: linux
image_resource:
  type: docker-image
  source: {repository: boshcpi/azure-cpi-release}

inputs:
  - name: bosh-cpi-src
  - name: bosh-cpi-release
  - name: release-version-semver
  - name: bosh-cli

outputs:
  - name: promoted

run:
  path: bosh-cpi-src/ci/tasks/promote-candidate.sh

params:
  S3_ACCESS_KEY_ID:     ""
  S3_SECRET_ACCESS_KEY: ""
  S3_ROLE_ARN: ""
